/* Add this CSS to your existing styles */
.nav h1,img {
  display: flex;
  align-items: center;
  font-weight: 500px;
  font-size: 40px;
}


div p span{
  font-weight: bold;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  margin-right: 10px; /* Add some spacing between the logo and the h1 element */
}
